*.log
*.map
*.img
products/
*.o
*.a
*DS_Store
*.pyc
.DS_Store/
base/boot/
base/bin/
mountpoint/
out/
third_party/*/src
third_party/*/bin_x86/
third_party/*/bin_aarch32/
third_party/*/patches/.applied_*
__pycache__/
