name: Checking code formatting

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  check:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check
        shell: bash
        run: |
          brew install clang-format
          find ./ -iname '*.h' -o -iname '*.cpp' -o -iname '*.c' | xargs clang-format --dry-run --Werror
