name: Building x86

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Pouring Deps
      run: brew install llvm i686-elf-gcc i686-elf-binutils ninja nasm
    
    - name: Pouring GN
      run: |
        wget https://chrome-infra-packages.appspot.com/dl/gn/gn/mac-amd64/+/latest
        unzip latest
        mv gn /usr/local/bin
        
    - name: Create Build Environment
      run: gn gen out --args='target_cpu="x86" host="gnu"'

    - name: Build
      working-directory: ${{github.workspace}}/out
      shell: bash
      run: ninja

    - name: Cleaning GNU Build Environment
      run: rm -rf out

    - name: Create LLVM Build Environment
      run: |
        export LLVM_BIN_PATH="/usr/local/Cellar/llvm/11.1.0/bin"
        gn gen out --args='target_cpu="x86" host="llvm"'

    - name: Build LLVM
      working-directory: ${{github.workspace}}/out
      shell: bash
      run: ninja

